body {
  background-color: powderblue;
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%
}
p {
  color: red;
  font-family: courier;
  font-size: 160%;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
article {
  color: red;
  font-family: arial;
  font-size: 16px;
  margin: 25px 50px;
}
